.root {
  background-color: #658053;
  height: 100vh;
  width: 100%;
  position: relative;
}

.root:before,
.root:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
}


.root:before {
  background: transparent 0 0 repeat url('../media/wallpaper.png');
  background-size: 165px;
  opacity: 0.25;
  mix-blend-mode: difference;
  box-shadow: inset 0 -30px 125em black;
}

.root:after {
  box-shadow: inset 0 0 120px black;
  opacity: 0.65;
  mix-blend-mode: multiply;
}
