body {
  background-color: var(--lightgold);
  margin: 0;
  font-size: 10px;
  font-weight: var(--black);
}

h1, h2, h3 {
  font-family: 'Vollkorn', serif;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}
