.root {
  margin: 0;
  z-index: 1;
  padding: 2em 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.root.loaded.horizontal {
}

.root.loaded.vertical {
}


.frame {
  background-color: var(--frameborder);
  padding: 10%;
  border: 2px solid var(--frameborder);
  box-shadow: inset 0 0px 4px rgba(0,0,0,0.5);
  font-size: 1.3em;
  margin: 0;
}

.frame img {
  box-shadow: 0 0 2em rgba(0,0,0,0.1);
  border: 1px solid #fff;
  padding: 1em;
  width: 100%;
}

figcaption {
  background-color: var(--frameborder);
  font-size: 1.1em;
  padding: 0.5em 1.5em 0.75em 0.75em;
}

figcaption > div {
  max-width: 24em
}
