:root {
  
  /* colors */
  --lightgold: #EBF5DF;
  --greengold: rgba(222, 242, 200, 1);
  --palegreen: rgba(197, 218, 193, 1);
  --graygreen: rgba(188, 208, 199, 1);
  --lightbrown: rgba(169, 178, 172, 1);
  --brown: #E3DCD5;
  --darkbrown: rgba(107, 107, 98, 1);
  --black: rgb(35, 35, 46);
  --white: #FAF5F0;
  --frameborder: #F7ECE1;
  
  /* textures */
  --hatch-desc: repeating-linear-gradient(
    45deg,
    var(--black), 
    var(--black) 1px, 
    transparent 1px, 
    transparent 4px
  );
  --hatch-asc: repeating-linear-gradient(
    -45deg,
    var(--black), 
    var(--black) 1px, 
    transparent 1px, 
    transparent 4px
  );
  
  /* animations */
   --fun-bounce: cubic-bezier(.66,.18,.75,1.53);
   --ease: cubic-bezier(.49,.2,.48,.99);
}
